# Model dosyaları
*.bin
*.pt
*.pkl

# Sanal ortamlar
venv/
.env/

# Geçici sistem dosyaları
__pycache__/
.DS_Store

# IDE klasörleri
.vscode/
.idea/

# Secret keys
debug.log
cert/key.pem
*.pem
*.key
.env
